<h1>Welcome to Proper Channel</h1>
<h4><i>
	A social solution to the pain of bureaucracy.
	<!-- <a href="http://website">Words</a> -->
</i></h4>
<p>
  Follow us on <a href=https://twitter.com/properchannel>Twitter</a>
</p>  
<p>
	Like us on <a href=https://www.facebook.com/ProperChannel>Facebook</a>

</p>



<!-- ><p>
	<a href="#">Sign Up Now!</a>
</p>  -->



